<h1>You can send <%= current_user.kudos_available %> more kudos this week. Send someone a kudo!</h1>

<%= form_for @kudo, url: {action: "create"}, html: {class: "form-inline"} do |f| %>
  <div class: 'form-group'>
    <%= email_field_tag :email, 'enter email address', required: true, class: 'form-control' %>
    <%= f.text_area :message, required: true, class: 'form-control' %>
  
    <%= f.submit "Send Kudo", class: "btn btn-primary" %>
    </div>
<% end %>


