<%= kudos_call_to_action %>
<div class='row well'>
<h3>Your Kudos</h3>
<h4>Kudos Received</h4>

<table class='table table-condensed'>
  <tr>
    <th>Kudo</th>
    <th>Sent by</th>
    <th>Date</th>
  </tr>

  <% @received_kudos.each do |kudo| %>
  <tr>
    <td><%= kudo.message %></td>
    <td><%= kudo.sender_full_name %></td>
    <td><%= kudo.created_at.localtime.strftime('%m/%d/%Y %H:%M') %></td> 
  </tr>
  <% end %>
</table>

<h4>Kudos Sent</h4>

<table class='table table-condensed'>
  <tr>
    <th>Kudo</th>
    <th>Sent to</th>
    <th>Date</th>
  </tr>

  <% @sent_kudos.each do |kudo| %>
  <tr>
    <td><%= kudo.message %></td>
    <td><%= kudo.recipient_full_name %></td>
    <td><%= kudo.created_at.localtime.strftime('%m/%d/%Y %H:%M') %></td> 
  </tr>
  <% end %>
</table>
</div>
