<!DOCTYPE html>
<html>
<head>
  <title>Kudos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if user_signed_in? %>
    <nav class="navbar navbar-default">
      Logged in as <strong><%= current_user.full_name %>, <%= current_user.org_name %></strong>.
      <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-default"  %>
    </nav>
  <% end %>
 </head>
<body>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

<div class='container'>
  <%= yield %>
  </div>
</body>
</html>
