<!DOCTYPE html>
<html>
<head>
  <title>Kudos</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <p class="navbar-text pull-right">
  <% if user_signed_in? %>
   Logged in as <strong><%= current_user.email %>, <%= current_user.org_name %></strong>.
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</head>
<body>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= yield %>

</body>
</html>
